@import url('https://fonts.googleapis.com/css?family=Karla');

html {
  /*overflow: hidden;*/
  font-family: 'Karla', sans-serif !important;
}

body {
  position: relative;
  background: #243447;
}

.page-wrapper {
  width: 100vw;
  min-height: 100vh;
}

.inner-wrapper {
  width: 100%;
}

.menu-title {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 50px;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
}

.fullwidth {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.download-button {
  border: none;
  color: #FFFFFF;
  background-color: #6464FF;
  padding: 10px;
  width: 300px;
}

.submit-button {
  border: none;
  color: #FFFFFF;
  background-color: #6464FF;
  padding: 10px;
}

.download-button-mobile {
  border: none;
  color: #FFFFFF;
  background-color: #6464FF;
  padding: 15px 25px;
  width: 200px;
}

.submit-button-mobile {
  border: none;
  color: #FFFFFF;
  background-color: #6464FF;
  padding: 15px 25px;
  width: 200px;
}
