@import url('https://fonts.googleapis.com/css?family=Karla');

html {
  overflow: hidden;
  font-family: 'Karla', sans-serif !important;
}

body {
  position: relative;
}

.page-wrapper {
  width: 100vw;
  height: 100vh;
}

.inner-wrapper {
  width: 100%;
}

.menu-title {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 50px;
}
